.date {
    color: blue
}

h2 {
    color:navy
}

.quote {
    margin: 1%;
}

html {
    border-top-width: 15px;
    border-top-style: 15px;
    border-top-color: aqua;
    border-bottom-width: 15px;
    border-bottom-style: 15px;
    border-bottom-color: aqua;
    border-right-width: 15px;
    border-right-style: 15px;
    border-right-color: aqua;
    border-left-width: 15px;
    border-left-style: 15px;
    border-left-color: aqua;
}